/* MentionList.module.css */

.dropdown-menu {
    background: white;
    border: 1px solid gray;
    border-radius: 0.7rem;
    display: flex;
    flex-direction: column;
    gap: 0.1rem;
    overflow: auto;
    padding: 0.4rem;
    position: relative;
}

.item {
    align-items: center;
    background-color: transparent;
    display: flex;
    gap: 0.25rem;
    text-align: left;
    width: 100%;
}

.item:hover,
.is-selected {
    background-color: #e3e3e3;
}


