/* PostEditor.module.css */

.editorContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: white;
  border: none;
  border-radius: 0 0 10px 10px;
}

.blogEditorContainer {
  /* styles specific to blog editor */
  padding: 20px;
  /*height: 400px;*/
  border: none
}

.editorContent {
  background-color: white;
  border-radius: 0 0 10px 10px;
  padding: 1rem;
  border: none;
  word-wrap: break-word;
}

.blogEditorContent {
  /* styles specific to blog editor */
  height: 100%;
  overflow-y: auto;
}

.editorOptions {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 10px 10px 0 0;
  padding: 0.5rem;
}

.blogOptions {
  border-color: rebeccapurple;
}

/* Basic editor styles */
.tiptap .editorContent .mention {
  background-color: purple !important;
  box-decoration-break: clone;
  color: white !important;
  padding: 0.1rem 0.3rem;
}

/* Character count */
.character-count {
  align-items: center;
  color: var(--mantine-color-gray-8);
  display: flex;
  font-size: 0.75rem;
  gap: .5rem;
  margin: 1.5rem;

  svg {
    color: var(--mantine-color-blue-8);
  }

  &--warning,
  &--warning svg {
    color: var(--mantine-color-red-9);
  }
}

/* Youtube embed */
.youtube-video-container div[data-youtube-video] {
  cursor: move;
  padding-right: 1.5rem;
}

.youtube-video-container div[data-youtube-video] iframe {
  border: 0.5rem solid var(--mantine-color-pink-9);
  display: block;
  min-height: 200px;
  min-width: 200px;
  outline: 0px solid transparent;
}

.youtube-video-container div[data-youtube-video].ProseMirror-selectednode iframe {
  outline: 3px solid var(--purple);
  transition: outline 0.15s;
}
